<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.halomerah">
    <!-- Izin INTERNET dan LOKASI -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:minSdkVersion="21"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HALOMERAH"
        tools:targetApi="31">
        <activity
            android:name=".camera2"
            android:exported="false" />
        <activity
            android:name=".camera"
            android:exported="false" />
        <activity
            android:name=".paduan"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/webclientid2" /> <!-- Daftar aktivitas dalam aplikasi -->
        <activity
            android:name=".maps"
            android:exported="false" />
        <activity
            android:name=".akun"
            android:exported="false" />
        <activity
            android:name=".kejadian"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".loginnomor"
            android:exported="true"
            android:label="Login Nomor" />
        <activity
            android:name=".home"
            android:exported="true"
            android:label="Home" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Main Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>